<!DOCTYPE html>
<html lang=en dir=ltr>

<head>
      <meta charset=utf-8>
      <title>Edit: <%=artical.title%></title>
      <!-- <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"> -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
      <div class="container">
         <h1 class="mb-4">Your Work</h1>

         <form action="/artical/<%=artical.id%>?_method=PUT" method="POST">
            <%- include('_form_fields'); %>
         </form>
      </div>
</body>
</html>