<!DOCTYPE html>
<html lang=en dir=ltr>

<head>
      <meta charset=utf-8>
      <title>Your Work</title>
      <!-- <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"> -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
      <div class="container">
       <h1 class="mb-1"><%=artical.title %> </h1>
       <div class="text-muted mb-2"><%= artical.createdDate.toLocaleDateString() %> </div>
     
      <a href="/" class="btn btn-secondary">All Works</a>
      <a href="/artical/edit/<%=artical.id%>" class="btn btn-info">Edit</a>
      <div>
         <%-artical.senitizeHtml%>
      </div>
</div>
</body>

</html>